:root {
  --primary: #003249;
  --background: #f5f8ff;
}
.primary {
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #333;

}
.container {
  max-width: 1240px;
  margin: auto;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
}

h2{
  font-size: 2.4rem;
  line-height: 1.2;
}

p {
  font-size: 1.2rem;
}

.btn {
  padding: 14px 32px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  border-radius: 24px 4px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  box-shadow: rgb(0, 0, 0/15%) 0px 8px 24px;
}



input {
  padding: 12px;
  border: 1px solid var(--primary);
  background: transparent;
  border-radius: 24px 4px;
  font-size: 1rem;
  margin-right: .8rem;
}

@media screen and (max-width: 760px) {
  h1{
      font-size: 2.1rem;
      line-height: 2.1rem;
  }
  h2 {
      font-size: 1.5rem;
      /* line-height: 1.2rem; */
      line-height: 1.5rem
  }

  h5 {
      font-size: 1.1rem;
      line-height: 1.2;
  }
  
  p {
      font-size: 1rem;
  }

  .btn {
      width: 100%;
      margin: 1rem;
  }

  input {
      width: 100%;
  }
}














